[Unit]
Description=Zabbix triggers to MQTT
Documentation=https://github.com/SmithLEDs/smith-zabbix-mqtt/
After=network.target mosquitto.service

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/smith-zabbix-mqtt --debug

[Install]
WantedBy=multi-user.target
